<nav class="black social">
    <div class="nav-wrapper">    
        <ul class="left">
            <li *ngFor="let network of socialNetworks">
                <a href="{{ network.url }}" target="_blank">
                    <i class="{{ network.icono }}"></i>
                </a>
            </li>
        </ul>
        <ul class="right hide-on-small-and-down">
            <li><a href="sass.html" class="waves-effect waves-light btn-small grey darken-2">Registro</a></li>
            <li><a href="sass.html" class="waves-effect waves-light btn-small red darken-4">Iniciar Sesión</a></li>
        </ul>
        <ul class="right hide-on-med-and-up">
            <li>
                <a href="sass.html" class="waves-effect waves-light btn-small btn-floating grey darken-2">
                    <i class="material-icons">person_add</i>
                </a>
            </li>
            <li>
                <a href="sass.html" class="waves-effect waves-light btn-small btn-floating red darken-4">
                    <i class="material-icons">transfer_within_a_station</i>
                </a>
            </li>
        </ul>                  
    </div>
</nav>