<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Bogotá</a></li>
    <li><a href="#!">Medellín</a></li>
    <li><a href="#!">Cali</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
        <li><a href="#!">Bogotá</a></li>
        <li><a href="#!">Medellín</a></li>
        <li><a href="#!">Cali</a></li>
</ul>
<nav class="red darken-4">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">ng Cinemax</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="sass.html">Inicio</a>
            </li>
            <li>
                <a href="sass.html">Cartelera</a>    
            </li>
            <li>
                <a href="sass.html">Promociones</a>
            </li>
            <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown1">
                    Ciudades
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </ul>          
    </div>
</nav>
<ul class="sidenav red darken-4" id="mobile-demo">
    <li>
        <a href="sass.html" class="white-text">Inicio</a>
    </li>
    <li>
        <a href="sass.html" class="white-text">Cartelera</a>    
    </li>
    <li>
        <a href="sass.html" class="white-text">Promociones</a>
    </li>
    <li>
        <a class="dropdown-trigger white-text" href="#!" data-target="dropdown2">
            Ciudades
            <i class="material-icons right white-text">arrow_drop_down</i>
        </a>
    </li>
</ul>