<div class="row white">
    <div class="col s12">
        <div class="row">
            <h4 class="center-align">Próximos Estrenos</h4>
        </div>
        <div class="row">
            <div class="col s12 m2 l2 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/images/posters/BatmanVSSuperman.jpg">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart red-text text-lighten-2"></i></a>
                    <a href="#"><i class="fab fa-youtube red-text"></i></a>
                    <a href="#"><i class="fas fa-bookmark orange-text text-darken-1"></i></a>
                    <a href="#"><i class="fas fa-language"></i></a>
                    <a href="#"><i class="fas fa-share-alt green-text text-darken-3"></i></a>
                </div>
                <div class="card-reveal">
                    <div class="card-title grey-text text-darken-4">
                        <i class="material-icons">close</i>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m2 l2 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/images/posters/RogueOneP.jpg">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart red-text text-lighten-2"></i></a>
                    <a href="#"><i class="fab fa-youtube red-text"></i></a>
                    <a href="#"><i class="fas fa-bookmark orange-text text-darken-1"></i></a>
                    <a href="#"><i class="fas fa-language"></i></a>
                    <a href="#"><i class="fas fa-share-alt green-text text-darken-3"></i></a>
                </div>
                <div class="card-reveal">
                    <div class="card-title grey-text text-darken-4">
                        <i class="material-icons">close</i>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m2 l2 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/images/posters/stars.jpg">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart red-text text-lighten-2"></i></a>
                    <a href="#"><i class="fab fa-youtube red-text"></i></a>
                    <a href="#"><i class="fas fa-bookmark orange-text text-darken-1"></i></a>
                    <a href="#"><i class="fas fa-language"></i></a>
                    <a href="#"><i class="fas fa-share-alt green-text text-darken-3"></i></a>
                </div>
                <div class="card-reveal">
                    <div class="card-title grey-text text-darken-4">
                        <i class="material-icons">close</i>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m2 l2 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/images/posters/the_mummy.jpg">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart red-text text-lighten-2"></i></a>
                    <a href="#"><i class="fab fa-youtube red-text"></i></a>
                    <a href="#"><i class="fas fa-bookmark orange-text text-darken-1"></i></a>
                    <a href="#"><i class="fas fa-language"></i></a>
                    <a href="#"><i class="fas fa-share-alt green-text text-darken-3"></i></a>
                </div>
                <div class="card-reveal">
                    <div class="card-title grey-text text-darken-4">
                        <i class="material-icons">close</i>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m2 l2 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/images/posters/venom.jpg">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart red-text text-lighten-2"></i></a>
                    <a href="#"><i class="fab fa-youtube red-text"></i></a>
                    <a href="#"><i class="fas fa-bookmark orange-text text-darken-1"></i></a>
                    <a href="#"><i class="fas fa-language"></i></a>
                    <a href="#"><i class="fas fa-share-alt green-text text-darken-3"></i></a>
                </div>
                <div class="card-reveal">
                    <div class="card-title grey-text text-darken-4">
                        <i class="material-icons">close</i>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m2 l2 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/images/posters/what_if.jpg">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart red-text text-lighten-2"></i></a>
                    <a href="#"><i class="fab fa-youtube red-text"></i></a>
                    <a href="#"><i class="fas fa-bookmark orange-text text-darken-1"></i></a>
                    <a href="#"><i class="fas fa-language"></i></a>
                    <a href="#"><i class="fas fa-share-alt green-text text-darken-3"></i></a>
                </div>
                <div class="card-reveal">
                    <div class="card-title grey-text text-darken-4">
                        <i class="material-icons">close</i>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>