/* You can add global styles to this file, and also import other style files */
.container {
    width: 85%;
}

.row {
    margin-bottom: 0;
}

.card-content a {
    font-size: 1.5em;
    padding-left: 0.2em;
}